<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/style.min.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a class="header__inner-logo" href="#">Header Logo</a>
                    <ul class="header__inner-list">
                        <li class="header__inner-link">header link one</li>
                        <li class="header__inner-link">header link two</li>
                        <li class="header__inner-link">header link three</li>
                    </ul>
                </div>
                <div class="header__top">
                    <div class="header__top-content">
                        <h1 class="header__content-title">This website is awesome</h1>
                        <p class="header__content-text">
                            This website has some subtext that goes here under the main
                            title. It`s a smaller font and the color is lower contrast
                        </p>
                        <button class="header__content-btn">
                            Sign up
                        </button>
                    </div>
                    <img class="header__top-images" src="./images/img-correct.jpg" alt="images">
                </div>
        </header>